.header {
  height: 3rem;
  padding: .8rem 4rem;
  box-sizing: border-box;
  background-color: #000;
  justify-content: space-between;
  display: flex;
}

.header-logo {
  width: auto;
  height: 100%;
}

.header-btn {
  height: 100%;
  padding: .1rem .5rem;
  font-weight: 600;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: .1em;
  border: 2px solid var(--yellow);
  border-radius: 1rem;
  transition: all .3s;
}

.header-btn:hover {
  border-color: aliceblue;
}