:root {
  --yellow: #ecb32f;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: sans-serif;
  color: aliceblue;
}

@media (max-width: 480px) {
  html {
    font-size: 3.75vw;
  }
}

body {
  min-height: 100dvh;
  background-color: #1e1e1e;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

main {
  height: 100%;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
