.main-form {
  margin: 0 auto;
  margin-top: 4rem;
  border: 4px solid aliceblue;
  border-radius: 1rem;
  background-color: rgb(71, 68, 68);
  padding: 3rem 1.5rem;
  gap: 1rem;
  display: grid;
}

.main-form h2 {
  text-align: center;
}

.main-form input {
  padding: .5rem;
  font-size: 1.1rem;
  background: none;
  border: 3px solid aliceblue;
  border-radius: .5rem;
  color: aliceblue;
}

.main-form button {
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  color: aliceblue;
  border: .1rem solid var(--yellow);
  border-radius: 1000vw;
}

.main-form button:hover {
  border-color: aliceblue;
}